body {
    margin: auto;
    /* font-family: Times New Roman;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    background-image: url("../images/leaves.gif");
    /* background: #e0ffcd; */
    background-position: top;
    background-repeat: no-repeat;
  }

.title{
  text-align: center;
}

.container {
  justify-content:center;
  border: black;
  border-style: double;
  margin: auto;
  width: 800px;
  padding: 20px;
  background-color: #F0FFFF;
}

.container-for-results{
  justify-content:center;
  border: black;
  border-style: double;
  margin: auto;
  width: 800px;
  padding: 20px;
  background-color: #F0FFFF;
}